DB_HOST=localhost
DB_NAME=nombre_base_datos
DB_USER=usuario_base_datos
DB_PASS=clave_base_datos

SMTP_HOST=smtp.titan.email
SMTP_USER=reservas@estadiasurbanas.com
SMTP_PASS=clave_correo
SMTP_PORT=465
SMTP_FROM=reservas@estadiasurbanas.com
RESERVAS_EMAIL=reservas@estadiasurbanas.com
REGISTROS_EMAIL=contacto@estadiasurbanas.com
NEWSLETTER_EMAIL=contacto@estadiasurbanas.com

ADMIN_PASSWORD_HASH=pega_aqui_un_hash_generado_con_password_hash


MP_ACCESS_TOKEN=APP_USR_o_TEST_xxxxxxxxxxxxxxxxx
MP_CURRENCY=CLP
MP_USD_TO_CLP=950
PUBLIC_BASE_URL=https://www.estadiasurbanas.com
RESERVATION_CONFIRMATION_MODE=pendiente

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=

TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_FROM_NUMBER=+1234567890
